{% block title %} <title>Reset your password</title> {% endblock %}

{% block body %}
{% include "header.html.twig" %}
<div class="container bg-light mb-5 rounded p-3">
    {% for flashError in app.flashes('reset_password_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialisez votre mot de passe</h1>

    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email) }}
    <div>
        <small>
            Entrez votre adresse e-mail et nous vous enverrons un
            lien pour réinitialiser votre mot de passe.
        </small>
    </div>

    <button class="btn btn-primary form-control mt-3">Envoyer un demande de reinitialisation de mot de passe </button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}

</body>

</html>