{% block body %}
{% include "header.html.twig" %}

<div class="example-wrapper container">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a
                    href="{{ 'C:/Users/erim5/OneDrive/Bureau/formation/MonSuperRestau/Restaurant/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code>
        </li>
        <li>Your template at <code><a
                    href="{{ 'C:/Users/erim5/OneDrive/Bureau/formation/MonSuperRestau/Restaurant/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code>
        </li>
    </ul>
</div>
{% endblock %}

</body>

</html>